<div class="space-y-12 sm:space-y-16">
    <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <div>
                <label for="name"
                       class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Nom / Pseudo</label>
            </div>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
                <input type="text" name="name" id="name" value="{{ user.name|default }}"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
            </div>
            <p class="mt-1 text-red-400 text-sm">{{ error('name') }}</p>
        </div>

        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <div>
                <label for="email"
                       class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Adresse email</label>
            </div>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
                <input type="text" name="email" id="email" value="{{ user.email|default }}"
                       class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
            </div>
            <p class="mt-1 text-red-400 text-sm">{{ error('email') }}</p>
        </div>
        {% if user %}
            <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                <div>
                    <label for="password"
                           class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Mot de passe</label>
                    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-400">Laissez vide pour ne pas modifier</p>
                </div>
                <div class="mt-2 sm:col-span-2 sm:mt-0">
                    <input type="password" name="password" id="password"
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                </div>
                <p class="mt-1 text-red-400 text-sm">{{ error('password') }}</p>
            </div>
        {% endif %}
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <div>
                <p class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Administration</p>
            </div>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
                {% include 'Admin/_components/form/_switch.html.twig' with {
                    switch_value: user.isAdmin,
                    switch_field_name: 'is_admin',
                    switch_label: 'Est un administrateur'
                } %}
            </div>
        </div>
        <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <div>
                <p class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Photo de profil</p>
            </div>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
                <label for="dropzone-file" id="profile-dropzone"
                       class="flex flex-col items-center justify-center w-full h-30 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 mt-2">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span>
                            or drag and drop</p>
                        <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>

                        <img src="{{ user.profilePicture }}"
                             class="mt-4 mx-auto h-16 w-16 rounded-full object-cover {% if not user.profilePicture|default %}hidden{% endif %}"
                             id="preview">
                    </div>
                    <p class="mt-1 text-red-400 text-sm">{{ error('profile_picture') }}</p>
                    <input id="dropzone-file" name="profile_picture" type="file" class="hidden"/>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="mt-6 flex items-center justify-end gap-x-6">
    {{ csrf('user_form') }}
    <a href="{{ route('admin.user.index') }}" type="button"
       class="text-sm font-semibold leading-6 text-gray-900">Annuler</a>
    <button type="submit"
            class="inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Enregistrer
    </button>
</div>
