{% extends 'Admin/base.html.twig' %}

{% block content %}
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">Utilisateur</h1>
                <p class="mt-2 text-sm text-gray-700">Liste des utilisateurs inscrits sur le site</p>
            </div>
            <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                <a href="#"
                   class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Ajouter un utilisateur
                </a>
            </div>
        </div>
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Nom
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>

                            <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                <span class="sr-only">Editer</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        {% for user in users %}
                            <tr>
                                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div class="font-medium text-gray-900">{{ user.name }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                                    <div class="mt-1 text-gray-500">{{ user.email }}</div>
                                </td>
                                <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                <span class="isolate inline-flex rounded-md shadow-sm">
{#                                  <a href="{{ route('admin.category.edit', { id: category.id}) }}" #}
                                    {#                                     class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10"> #}
                                    {#                                      {{ heroicon('pencil', 'h-4 w-4 shrink-0 text-gray-500 group-hover:text-white') }} #}
                                    {#                                  </a> #}

                                    <button type="button"
                                            @click="$dispatch('remove_{{ user.id }}')"
                                            class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                                      {{ heroicon('trash', 'h-4 w-4 shrink-0 text-gray-500 group-hover:text-white') }}
                                    </button>
                                </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% for item in users %}
        {% include 'Admin/_components/modal.html.twig' with {
            icon: {
                color: 'red',
                name: 'exclamation'
            },
            title: 'Supprimer l\'utilisateur "' ~ item.name ~'" ?',
            text: 'Êtes-vous sûr de vouloir supprimer cette catégorie ?',
            toggleEvent: 'remove_' ~ item.id,
            cancelButton: true,
            okButton: {
                href: route('admin.user.remove', { id: item.id}),
                name: 'Supprimer',
                color: 'red'
            }
        } %}
    {% endfor %}
{% endblock %}
