{% extends 'base.html.twig' %}

{% block content %}

    <main>
        <div class="hero hero--homepage">
            <div class="hero__overlay">
                <img class="hero__image" src="/assets/images/hero-pattern.svg" alt="Motif">
            </div>
            <div class="hero__container">
                <h1 class="hero__title">Aurélien Lorence</h1>
                <section class="last-post">
                    <div class="last-post__heading">
                        <h2 class="heading heading--light">Dernier billet de blog</h2>
                        <a href="{{ route('articles.index') }}">Voir tous les billets</a>
                    </div>
                    {% if lastPost %}
                        <article class="last-post__article">
                            <div class="last-post__article__illustration">
                                <img src="{{ lastPost.featuredImage }}"
                                     alt="Titre de l'article"/>
                                <div class="card-overlay">
                                    <a href="{{ route('articles.show', { slug:lastPost.slug }) }}" class="extended">
                                        Lire l'article
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>
                                        </svg>


                                    </a>
                                    <div class="card-overlay__heading">
                            <span>
                                {{ lastPost.category.name }}
                            </span>
                                        <h3>{{ lastPost.title }}</h3>
                                    </div>

                                </div>
                            </div>
                            <div class="last-post__article__content">
                                <ul class="tag-list">
                                    {% for tag in lastPost.tags %}
                                        {% include 'post/_tag.html.twig' with { tag } %}
                                    {% endfor %}
                                </ul>
                                <p>
                                    {{ lastPost.chapo|nl2br }}
                                </p>
                                <ul class="card__extra-data">
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"/>
                                        </svg>
                                        <span>Le {{ lastPost.publishedAt|format_datetime('long', 'short', locale='fr') }}</span>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                             stroke-width="1.5"
                                             stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"/>
                                        </svg>

                                        <span>{{ lastPost.readTime }} min</span>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    {% endif %}
                </section>
            </div>
        </div>

        <!-- QUI SUIS-JE -->
        <section class="about-me">
            <h2 class="heading heading--dark">Qui suis-je ?</h2>
            <div class="about-me__picture">
                <img src="/assets/images/profile-picture.webp" alt="My profile picture"/>
            </div>
            <p class="about-me__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum.
            </p>
            <a href="{{ route('career.index') }}" class="btn btn--outline--primary">Voir mon parcours</a>
        </section>


        <!-- CONTACT -->
        <section class="contact" id="contact">
            <div class="contact__background">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 4 23 16" stroke-width="0.7"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"/>
                </svg>
            </div>
            <div class="contact__container">
                <h2 class="contact__heading">Me contacter</h2>
                <form class="form" method="post" action="#">
                    <div class="form__row">
                        <div class="form__field">
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" name="firstname" placeholder=" "
                                   value="{{ contact.firstname|default }}"/>
                            {% if(error('firstname')) %}
                                <div class="form__error">{{ error('firstname') }}</div>
                            {% endif %}
                        </div>
                        <div class="form__field">
                            <label for="lastname">Nom</label>
                            <input type="text" id="lastname" name="lastname" placeholder=" "
                                   value="{{ contact.lastname|default }}"/>
                            {% if(error('lastname')) %}
                                <div class="form__error">{{ error('lastname') }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__field">
                            <label for="email">Adresse e-mail</label>
                            <input type="email" id="email" name="email" placeholder=" "
                                   value="{{ contact.email|default }}"/>
                            {% if(error('email')) %}
                                <div class="form__error">{{ error('email') }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__field">
                            <label for="message">Votre message</label>
                            <textarea id="message" name="message" placeholder=" "
                                      rows="6">{{ contact.message|default }}</textarea>
                            {% if(error('message')) %}
                                <div class="form__error">{{ error('message') }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form__row contact__submit">
                        {{ csrf('contact_form') }}
                        <button type="submit" class="btn btn--bg-light btn--outline--primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </section>
    </main>

{% endblock %}

{% block js %}
    {% if contact is defined %}
        <script>
            location.hash = "#contact";
        </script>
    {% endif %}
{% endblock %}
